* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Regular;
    background: #FFFFFF;
    color: #111111;
    letter-spacing: 0px;
}
article, section {
    margin-left: 5%; 
    /* margin-right: 5%; */
}
a {
    text-decoration: none;
    color: #111111;
}
li {
    list-style: none;
}
img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    width:auto\9;
    object-fit: cover;
}

/* Utility classes */
.container{
    width: auto;
    max-width: 1920px; 
}
.btn {
    padding: 2px 2px 2px 2px;
    border: 1px solid #F5F5F5;
    font: Regular 16px/21px Segoe UI;
    display: inline-block;
}
sup {
    background-color: #EC7D55;
    color: #FFFFFF;
    padding: 1px 2px 1px 2px;
    border-radius: 50% 50%;
}
.remove {
    padding-left: 1rem;
    color: #EC7D55;
}
/* Nav bar */
#navbar {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    opacity: 1; 
    z-index: 1000;
}
#main-nav {
    width: 100%;
    padding-left: 9%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#logo h1{
    text-align: left;
    font-family: Chiller;
    font-size: 32px/37px;
}
.search {
    display: flex;
}
.search-content {
    display: flex;
    width: 500px;
    height: 32px;
    padding-right: 5px;
}
.fa-search {
    padding-top: 10px;
    padding-left: 1rem;
    border: 1px solid rgb(232, 232, 232);
    min-width: 20px;
    text-align: center;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-right: none;
}
#search-input {
    width: 100%;
    border: 1px solid rgb(232, 232, 232);
    outline: none;
    border-left: none;
}
#search_box {
    cursor: pointer;
    height: 32px;
    padding-left: 3rem;
    padding-right: 3rem;
    background: #EC7D55 0% 0% no-repeat padding-box;    font: normal normal bold 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: 0px solid #111111;
}
#nav2 {
    display: flex;
}
#nav2 i {
    padding-left: 2rem;
}

#nav1 {
    margin-left: 0%;
    padding-left: 5%;
    margin-right: -5%;
    display: flex;
    background: #FBFBFB 0% 0% no-repeat padding-box;
}
#nav1 li {
    padding-top: 10px;
    padding-right: 3rem;
    padding-bottom: 10px;
    text-align: left;
    font: normal normal normal 16px/21px Segoe UI;
}

/* Main Cart Area */
.cart-container {
    position: relative;
    top: 93px;
    padding-top: 15px;
    padding-bottom: 7rem; 
    margin-left: 10%;
}
.cart-content {
    padding-top: 2rem;
}
.cart-content h3 {
    padding-bottom: 2rem;
}
table {
    padding-bottom: 2rem;
}
td {
    padding-right: 1rem;
}
tr {
    padding-top: 0;
    padding-bottom: 0;
}
select {
    border: none;
    padding: 0 5px;
}
#gender {
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}
.fa-heart-o {
    padding-left: 5px;
}
.card {
    position: absolute;
    top: 100px;
    right: 15%;
    width: 420px;
    border: 0.5px solid #F5F5F5;
    box-shadow: 0 6px 12px #0000000D;
    padding-left: 15px;
    padding-right: 8px;
}
.card h4 {
    padding: 10px 0 5px ;
    border-bottom: 1px solid #F5F5F5 ;
}
.card div {
    border-bottom: 1px solid #F5F5F5 ;
    padding-bottom: 5px;
}
.card div p {
    padding-top: 1rem;
}
.card p {
    display: flex;
    justify-content: space-between;
}
.card a {
    margin-bottom: 1rem;
}
.card .btn-secondary {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    color: #FFFFFF;
    background: #111111 0% 0% no-repeat padding-box;
}
.btn-add {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
}

/* Article area */

.article-container p {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F5F5F5;
}
.product-grid1 {
    padding-top: 1rem;
    margin-left: 10%;
    margin-right: 20%;
    display: grid;
    padding-bottom: 4rem;
    grid-template-rows: 380px 42px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.product-grid1 span {
    position: relative;
}
.product-grid1 p {
    border: none;
}
.product-grid1 i {
    position: absolute;
    bottom: 15px;
    right: 4%;
    background-color: #ffffff;
    color: #707070;
    padding: 5px 5px 5px 5px;
    border-radius: 50% 50%;
    opacity: 1;
}

/* Main Footer */
#main-footer {
    background-color: #FBFBFB;
    padding-top: 3rem;
    padding-left: 5%;
    box-sizing: border-box;
}
.footer-container {
    display: grid;
    grid-template-rows: 25px 150px ;
    grid-template-columns: 420px repeat(4, 1fr);
    grid-template-areas:
        "head  head head head head"
        "main main main main main";
    padding-bottom: 3rem;
}
.footer-container p strong {
    display: inline-block;
    grid-area: head;
    padding-bottom: 2rem;
    text-align: left;
    font: normal normal bold 16px/21px Segoe UI;
}
.footer-container p {
    grid-area: main;
    padding-bottom: 1rem;
}
.news-letter{
    padding-right: 3rem;
}
#email {
    border: 1px solid #111111;
    padding: 12px 50px 12px 10px;
}
#subscribe {
    border: 1px solid #111111;
    background-color: #111111 ;
    color: #ffffff;
    padding: 13px 26px;
    text-align: center;
    font: normal normal normal 14px/12px Segoe UI;
    letter-spacing: 0px;    
}
.social {
    padding-right: 2rem;
}
.social a {
    color: #757575;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}