* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font: normal  14px Segoe UI;
    letter-spacing: 0px;
    color: #757575;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #757575;
    font-weight: bolder;
}
img {
    cursor: pointer;
    max-width: 100%;
    height: 100%;
    width:auto\9;
    object-fit: fill;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    max-width: 1920px; 
}
.mini-nav {
    margin-left: -5%;
    margin-right: -5%;
    padding-left: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #F5F5F5;
}
strong {
    color: #111111;
    border-bottom: 1px solid  #F5F5F5;
    
}
#h {
    color: #111111;
}
ul {
    display: flex;
}
li {
    list-style: none;
    padding-right: 3rem;
}

#main {
    padding-top: 3rem;
    display: flex;
}
.shop {
    display: grid;
    grid-template-rows: 30px 500px;
    grid-template-columns: repeat(3,150px);
    grid-gap: 1rem;
    border-right: 1px solid #F5F5F5;
    padding-right: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}
p {
    padding-top: 1rem;
    font: normal normal normal 14px/32px Segoe UI;
}
.images {
    padding-left: 1rem;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
#hh {
    object-fit: none;
    align-self: center;
}