* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Regular;
    background: #FFFFFF;
    color: #111111;
    letter-spacing: 0px;
}
article, section {
    margin-left: 5%; 
    /* margin-right: 5%; */
}
a {
    text-decoration: none;
    color: #111111;
}
li {
    list-style: none;
}
img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    width:auto\9;
    object-fit: cover;
}

/* Utility classes */
.container{
    width: auto;
    max-width: 1920px; 
}
.btn {
    padding: 2px 2px 2px 2px;
    border: 1px solid #F5F5F5;
    font: Regular 16px/21px Segoe UI;
    display: inline-block;
}
sup {
    background-color: #EC7D55;
    color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 50% 50%;
}
.remove {
    color: #EC7D55;
}
/* Nav bar */
#navbar {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    opacity: 1; 
    z-index: 1000;
}
#main-nav {
    width: 100%;
    padding-left: 9%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#logo h1{
    text-align: left;
    font-family: Chiller;
    font-size: 32px/37px;
}
.search {
    display: flex;
}
.search-content {
    display: flex;
    width: 500px;
    height: 32px;
    padding-right: 5px;
}
.fa-search {
    padding-top: 10px;
    padding-left: 1rem;
    border: 1px solid rgb(232, 232, 232);
    min-width: 20px;
    text-align: center;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-right: none;
    color: #757575;
}
#search-input {
    width: 100%;
    border: 1px solid rgb(232, 232, 232);
    outline: none;
    border-left: none;
}
#search_box {
    cursor: pointer;
    height: 32px;
    padding-left: 3rem;
    padding-right: 3rem;
    background: #EC7D55 0% 0% no-repeat padding-box;    font: normal normal bold 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: 0px solid #111111;
}
#nav2 {
    display: flex;
}
#nav2 i {
    padding-left: 2rem;
}

#nav1 {
    margin-left: 0%;
    padding-left: 5%;
    margin-right: -5%;
    display: flex;
    background: #FBFBFB 0% 0% no-repeat padding-box;
}
#nav1 li {
    padding-top: 10px;
    padding-right: 3rem;
    padding-bottom: 10px;
    text-align: left;
    font: normal normal normal 16px/21px Segoe UI;
}

/* Section */
#wishlist {
    position: relative;
    top: 7rem;
    margin-bottom: 2rem;
}

.wishlist-container {
    margin: 0 15% 0 10%;
}
.wishlist-content h3 {
    font: normal normal bold 24px/80px Arial;
}
.wishlists {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.wishlist-left {
    display: flex;
}
.wishlist-left img {
    height: 120px;
    padding-right: 1rem;
}
.wishlist-left p {
    font: normal normal normal 14px/23px Segoe UI;
}
.wishlist-right {
    width: 420px;
}
.wishlist-right img {
    height: 90px;
    padding-right: 8px;
    padding-bottom: 14px;
}
.wishlist-right #select {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
select {
    height: 30px;
    background-color: #FBFBFB;
    border: none;
    padding-left: 8px;
}
#size {
    width: 330px;   
}
#qty {
    width: 75px;
}
.wishlist-right span {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #111111;
    height: 30px;
}
#fit {
    width: 100%;
    display: flex;
    justify-content: right;
}
/* #fit img {
    margin-top: 2rem;
    height: 40px;
    width: 40px;
}
/* #fit span {
    align-self: center;
    /* margin-top: -1rem; */
    font: normal normal normal 16px Segoe UI;
} */ */


/* Main Footer */
#main-footer {
    background-color: #FBFBFB;
    padding-top: 3rem;
    padding-left: 5%;
    box-sizing: border-box;
}
.footer-container {
    display: grid;
    grid-template-rows: 25px 150px ;
    grid-template-columns: 420px repeat(4, 1fr);
    grid-template-areas:
        "head  head head head head"
        "main main main main main";
    padding-bottom: 3rem;
}
.footer-container p strong {
    display: inline-block;
    grid-area: head;
    padding-bottom: 2rem;
    text-align: left;
    font: normal normal bold 16px/21px Segoe UI;
}
.footer-container p {
    grid-area: main;
    padding-bottom: 1rem;
}
.news-letter{
    padding-right: 3rem;
}
#email {
    border: 1px solid #111111;
    padding: 12px 50px 12px 10px;
}
#subscribe {
    border: 1px solid #111111;
    background-color: #111111 ;
    color: #ffffff;
    padding: 13px 26px;
    text-align: center;
    font: normal normal normal 14px/12px Segoe UI;
    letter-spacing: 0px;    
}
.social {
    padding-right: 2rem;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    color: #757575;
}